/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

body {
  min-height: 100%;
}

app-root, app-signin {
  display: block;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cm-0 {
  margin: 0;
}